@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to the Bookstore</h1>

    <table class="table table-bordered align-content-center">
        <thead class="thead-light">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody>
            <!--dynamically display each row in table using partial view-->
            @foreach (var x in Model.Books)
            {
                <partial name="BookSummary" model="x"/>
            }
        </tbody>
    </table>
</div>

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>